.line-clamp {
  vertical-align: middle;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 
  overflow: hidden;
    color: #FFF;
    padding-top: 16px;
    margin-bottom: 8px; 
}